.blog-coming-soon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  text-align: center;

  .coming-soon-container {
    h1 {
      font-size: 3rem;
      color: #333;
    }

    p {
      font-size: 1.2rem;
      color: #777;
    }
  }
}
